<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item class="menu-item" routerLink="/" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <p>Home</p>
      </mat-list-item>
      <mat-list-item
        class="menu-item"
        routerLink="/vendedor"
        routerLinkActive="active"
      >
        <mat-icon>work</mat-icon>
        <p>Vendedor</p>
      </mat-list-item>
      <mat-list-item
        class="menu-item"
        routerLink="/cliente"
        routerLinkActive="active"
      >
        <mat-icon>person</mat-icon>
        <p>Cliente</p>
      </mat-list-item>
      <mat-list-item
        class="menu-item"
        routerLink="/produto"
        routerLinkActive="active"
      >
        <mat-icon>shopping_cart</mat-icon>
        <p>Produto</p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Prova Rafael Ratacheski</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
