.vendedor {
  text-align: center;
  position: relative;
  min-height: 200px;
  margin: 0 auto;
  padding-top: 10px;
}

.spinner-container {
  width: 100%;
  margin-top: 10px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

.spinner-container mat-spinner {
  margin: 130px auto;
}

.vendedores-table {
  min-height: 360px;
  margin-top: 10px;
}

.mat-form-field {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.align-end {
  justify-content: flex-end;
}

.form-container {
  width: 400 px;
  margin: 0 px auto;
  margin-top: 200 px;
}
