<mat-toolbar color="primary">
  <span *ngIf="isAddMode">Novo Vendedor</span>
  <span *ngIf="!isAddMode">Edição de Vendedor</span>
  <span class="spacer"></span>
  <button
    mat-button
    color="accent"
    style="margin-right: 10px"
    routerLink="/vendedor"
  >
    <mat-icon>undo</mat-icon>
    Voltar
  </button>
  <button
    mat-raised-button
    color="accent"
    form="ngForm"
    [disabled]="!form.valid"
  >
    <mat-icon>save</mat-icon>
    Salvar
  </button>
</mat-toolbar>

<div class="vendedor">
  <form [formGroup]="form" id="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label> Código </mat-label>
      <input matInput formControlName="codigo" type="number" />
      <mat-error *ngIf="f.codigo.touched && f.codigo.invalid">
        <span *ngIf="f.codigo.errors?.required">Código é obrigatório</span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label> Nome </mat-label>
      <input matInput formControlName="nome" />
      <mat-error *ngIf="f.nome.touched && f.nome.invalid">
        <span *ngIf="f.nome.errors?.required">Nome é obrigatório</span>
      </mat-error>
    </mat-form-field>
  </form>
</div>
