/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar-success {
  background: #07b865;
  .mat-simple-snackbar {
    span {
      color: #fff;
    }
  }
}

.snackbar-error {
  background: #d6553f;
  .mat-simple-snackbar {
    span {
      color: #fff;
    }
  }
}
.spacer {
  flex: 1 1 auto;
}
